.process-steps {
  position: relative;

  // 細細的橫線
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: $primary;
    position: absolute;
    top: 50%;
    // 左右稱滿線條
    left: 0;
    right: 0;
  }

  // 三個空圈圈
  .process-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $primary;
    z-index: 1; // 在線之上
    background-color: $light;
    // 用 flex 置中圖示
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // 當前頁面 (實心圈圈)
  .active {
    border-color: $primary; // 改顏色 讓當前頁面多一圈 border

    &::after {
      content: " ";
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $primary;
    }
  }

  // 已完成頁面 (塗滿白底加上綠色勾勾)
  .completed {
    font-size: 0.5rem;
    background-color: $primary;
    color: $light;
  }
}
/*
// 付款成功頁面的調整
.process-steps-end {
  // 細線
  &::after {
    background-color: $lightGrey;
  }

  // 付款成功
  .checkout-success {
    font-size: 1rem;
    background-color: $lightGrey;
    color: $horsetailGreen;
    border-color: $lightGrey;
    font-weight: bold;
  }
}
*/
