.checkout-title {
  @media (max-width: 576px) {
    font-size: 24px;
  }
}
.checkout-label {
  @media (max-width: 576px) {
    font-size: 20px;
  }
}

.paysuccess-title {
  font-weight: bolder;
  letter-spacing: 10px;
  @media (max-width: 576px) {
    letter-spacing: 8px;
  }
}
