@media (min-width: 768px) {
  .bannerSlogan {
    letter-spacing: 10px;
  }
}
.bannerSlogan {
  display: none;
  @media (min-width: 768px) {
    display: block;
    letter-spacing: 10px;
  }
}

.frosted-wrap {
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 256px;
  position: relative;
  overflow: hidden;
}
.frosted-wrap:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  filter: blur(20px);
  background-color: rgba(158, 122, 122, 0.8);
  transition: background-color 0.5s;
  z-index: -1;
  margin: -30px;
}
.frosted-text {
  writing-mode: vertical-lr;
  font-size: 24px;
  letter-spacing: 10px;
  font-weight: bolder;
}
.frosted-image {
  position: absolute;
  right: -10px;
  left: -10px;
  top: -10px;
  bottom: -10px;
  z-index: -2;
  filter: blur(5px);
}
.frosted-wrap.active::after,
.frosted-wrap:hover::after,
.frosted-wrap:focus::after {
  background-color: rgba(181, 68, 52, 0.8);
}
.frosted-wrap.active .frosted-image,
.frosted-wrap:hover .frosted-image,
.frosted-wrap:focus .frosted-image {
  filter: blur(0);
}
.frosted-wrap.active .frosted-text,
.frosted-wrap:hover .frosted-text,
.frosted-wrap:focus .frosted-text {
  color: white !important;
  font-weight: bolder;
}
