.section {
  .section-image-block {
    @media (min-width: 768px) {
      margin-top: -24px;
      margin-bottom: -24px;
    }
  }

  .section-image {
    min-height: 200px;

    @media (max-width: 991.98px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .vertical-content {
    max-height: 420px;
    line-height: 2;
  }
}
