// variables
$bg-color: #3a3226;
$font-family: 
/*1. 指定已知的系統 UI 字體*/ "YuGothic", "Yu Gothic",
  "Microsoft JhengHei", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
  /*2. 系統預設字體*/ -apple-system, BlinkMacSystemFont,
  /*3. 備援字體*/ sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$images: '~@/assets/images/';
  
// 修改 $primary 值, 新增 $primary-light

// background
html,
body {
  background-color: $bg-color;
  font-family: $font-family;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.text-bg {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-md-accent {
  background-color: $light;
  @media (min-width: 768px) {
    background-color: $accent;
  }
}
// write-mode
.writing-md-vertical {
  @media (min-width: 768px) {
    writing-mode: vertical-rl;
  }
}
.text-title {
  color: #fff;
  font-weight: bold;
  letter-spacing: 10px;
}

// cart button
.btn-cart {
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.btn .badge {
  position: absolute;
  top: -1px;
}
.btn-cart .badge {
  position: absolute;
  top: 1px;
  right: -1px;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
